/* Import component styles */
@import "../components/GameTitle/GameTitle.css";
@import "../components/AnimeImage/AnimeImage.css";
@import "../components/GameResult/GameResult.css";
@import "../components/SearchInput/SearchInput.css";
@import "../components/GameControls/GameControls.css";
@import "../components/GameInfo/GameInfo.css";

.search__container {
  margin: 5vh 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search__container input,
button {
  margin: 0 1vh 2vh 1vh;
  border: none;
}

.search__container input {
  cursor: text;
}

.search__container button {
  cursor: pointer;
}

.btn__container {
  height: fit-content;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .btn__container {
    flex-direction: column-reverse;
    width: 95%;
  }

  .btn__check {
    width: 50%;
    height: 5vh;
  }

  .btn__pass {
    width: 50%;
  }
}

.gray {
  background-color: #cacaca;
  color: var(--black);
  border: #cacaca;
  transition: ease-in-out 0.5s;
}
