:root {
    --black: #000000;
    --white: #fbfbfb;
    --blue: #06617D;
    --gray: #606060;
    --soft-gray: #EEEDEF;
    --red: #FF9292;
    --yellow: #eff9c8;
    --green: #A3E599;
    --light-blue: #A6E1EE;
    --crunchy-orange: #FF944D;
    --crunchy-gray: #23252B;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato",Helvetica Neue,helvetica,sans-serif;
}

body{
    background-color: var(--black);
}