@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Sedgwick+Ave+Display&display=swap');

header {
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--crunchy-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: static;
}

.title{
    display: flex;
    color: var(--crunchy-orange);
    font-family: 'Fondamento', cursive;
    align-items: end;
}

.title h1{
    font-size: 4vh;
}

.title p{
    font-size: 1vh;
}

.button{
    margin: auto 2vh;
    color: var(--white);
    text-decoration: none;
    font-family: "Lato",Helvetica Neue,helvetica,sans-serif;
}

.button:hover{
    color: var(--crunchy-orange);
    transition: 0.5s;
}